.home .title{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    
}

.home .subtitle{
    font-size: 1.1rem;
    
}
#card{ 
    background-color:  #d86692;
}

*{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;

}