.header{
    background-color:  #e0afaf;
    font-size: 40px;
}


.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 60px;

}

.header .logo{
    max-height: 55px;


}

.header .title-group{
    padding-left: 15px
}

.header .title-group i{
    padding-right: 5px;
}

