

table {

    width: 100%;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  }

  th, td {
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #d86692;
    color: rgb(32, 25, 25);
  }

  td {
    background-color: #e0afaf;
    color: rgb(0, 0, 0);
  }
  td:nth-child(3) {
    padding-right: 50px;
  }

  i.edit{
    color:  #c96d7a;
    margin-left: 5px;
  }

  i.delete{
    color:  #c96d7a;
    margin-left: 10px;
  }

.botao {
  margin-top: 30px;
  margin-left: 44%;
  background-color: #d86692;
  
}

