
*{

    background-color:  #e0afaf;
}
form {
    display: flex;
    flex-direction: column;

}

.salvar {
    margin-top: 15px;
    background-color: rgb(241, 139, 156);
}
.cancelar{
    margin-left: 15px;
    background-color: rgb(255, 0, 0);
}

input[disabled], textarea[disabled], select[disabled] {
    background-color: #e0afaf; /* Mantém o fundo branco */
    color: #000;            /* Mantém o texto preto */
    opacity: 1;             /* Remove a opacidade padrão */
    cursor: not-allowed;    /* Mostra o cursor "não permitido" */
  }