.sidenav {
    background-color: #c96d7a;
}

.sidenav a{
    color: white;

}

.sidenav i {
    padding-left: 15px;
}

.content {
    padding: 15px;
    background-color: white;
}

.nav-list i {
    padding-left: 10px;
} 

