.sidenav{
    background-color: #d86692
    
}



.sidenav a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sidenav i {
    padding-left: 15px;
}

.nav-list i {
    padding-left: 10px;
} 

