
html, body { height: 100%; }
body { margin: 0; }


.red {
    color: rgb(170, 28, 42)
}

.v-middle {
    vertical-align: middle;
}

@font-face {
    font-family: isabella;
    src: url(assets/fonts/josephsophia.ttf) format('truetype');
}

.isabella {
    font-family: isabella;
}

